.center {
  margin: auto;
  width: 70%;
  padding: 10px;
}
.centerp {
    text-align: center;
    line-height: 30px;


      border-style: solid;
      border-with: 2px;
      border-color: grey;
      border-radius: 3px
}